<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
            <i class="fa-solid fa-address-book"></i>Contact Us
        </h1>
        <p> * Indicates Required Field</p>
        <form >
          <div class="form-group">
            <label for="name">Name :</label>
           <input type="text" id="name" class="name" placeholder="FirstName *">
          </div>
          <div class="form-group">
            <label for="lastname">LastName :</label>
            <input type="text" id="lastname" class="lastname" placeholder=" LastName  *">
          </div>
          <div class="form-group">
            <label for="Phone">PhoneNumber :</label>
            <input type="Number" id="phnum" class="phnum" placeholder=" PhoneNumber  *">
          </div>
          <input type="checkbox" id="Send">  Do you want to recieve text on your PhoneNumber
          <div class="form-group">
            <input type="" id="message" class="message" placeholder=" Send Message  ">
          </div>
          <button type="submit" id="Send"  class="btn btn-primary btn-block">
            Send Message
          </button>
        </form>
       
      </div>
    </div>
  </div>
