<h1 class="text-center mb-3">
    <i class="fa-solid fa-address-book"></i>Contact Us
</h1>
<p> * Indicates Required Field</p>
<%- include('./partials/messages') %> 
<form action="/contactUs" method="POST">
    <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name="Name" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div>
          
          
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" name="Message" aria-label="With textarea"></textarea>
          </div>
          &nbsp;
          &nbsp;
    <div class="text-center mb-3"><input class="btn btn-primary" type="submit" value="Submit"></div> &nbsp;&nbsp;
    <div class="text-center mb-3"><input class="btn btn-primary" type="button" id="back"  value="Back"></div>
</form>
<div class="alert-success" style="position: relative; padding-right: 35px;">
    <% if (typeof message !== 'undefined' && message) { %>
        <p><%= message %></p>
        <span style="position: absolute; top: 0; right: 10px; cursor: pointer;" onclick="this.parentElement.style.display='none';" aria-label="Close">&times;</span>
    <% } %>
</div>

<script>
    document.getElementById('back').addEventListener('click',function(){
     window.location.href = '/dashboard';
});
</script>



