<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-toggle::after {
        display: none;
    }

    </style>
</head>
<body>
    <% if(message){ %>
        <p><%= message %></p>
    <% } %>
    <div class="col-md-6 m-auto dropdown">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li> &nbsp;
              <li class="breadcrumb-item"><a href="/contactUs">Contact </a></li> &nbsp;
              <li class="breadcrumb-item">
                <a href="<%= isNewUser ? '/leaseRenewal' :'/lease'%> ">Lease </a>
            </li> &nbsp;
            </ol>
          </nav>
    </div>

    <div class="">
        <button id="logout" name="logout" type="button"><i class="fa-solid fa-right-from-bracket"></i>  Log Out</button>
    </div>

    <script>
        document.getElementById('logout').addEventListener('click',function(){
            window.location.href = '/users/logout';
        })
    </script>
    
</body>
</html>

