<div class="grid row-gap-3 ">
    <div class="p-2 g-col-6">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">Some Text</p>
                <a href="#" class="btn btn-primary">View Pricing Details</a>
            </div>
            </div>
    </div>
    <div class="p-2 g-col-6">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">Some Text</p>
                <a href="#" class="btn btn-primary">View Pricing Details</a>
            </div>
            </div>
    </div>
    <div class="p-2 g-col-7">
        <div class="card" style="width: 18rem;  justify-content: end;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">Some Text</p>
                <a href="#" class="btn btn-primary">View Pricing Details</a>
            </div>
            </div>
    </div>
    <div class="p-2 g-col-7">
        <div class="card" style="width: 18rem;  justify-content: end;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">Some Text</p>
                <a href="#" class="btn btn-primary">View Pricing Details</a>
            </div>
            </div>
    </div>
</div>