<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserProfile</title>
    <style>
    
    </style>
</head>
<body>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            <% if (message) { %>
                <p><%= message %></p>
            <% } %>
        </div>
      </div>
    <div class="row mt-5 mx-5 text-center">
        <form action="/users/login" method="POST">
            <i class="fa-solid fa-user fa-lg"></i> : &nbsp;
            <input type="email" name="email" id="user">
            <br />
            <br />
            <i class="fa-solid fa-lock"></i>  :   &nbsp;
            <input type="password" name="password" id="pass">
            <br />
            <br />
            <button type="submit" name="login">Login</button>
        </form>
    </div>
    
    
    

     
</body>
</html>

